@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1440px;
}

.box {
  display: grid;
  place-content: center;
  color: white;
  text-shadow: 0 1px 0 #000;

  --border-angle: 0turn; /* For animation */
  --main-bg: conic-gradient(
    from var(--border-angle),
    #000,
    #000 5%,
    #000 60%,
    #000 95%
  );

  border: solid 2px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #08f,
    #f03 99%,
    transparent
  );

  background: var(--main-bg) padding-box, var(--gradient-border) border-box,
    var(--main-bg) border-box;

  background-position: center center;

  animation: bg-spin 2s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes opacity-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-opacity-in {
  animation: opacity-in 0.5s ease-in-out forwards;
}

.rotate-video:hover {
  transform: rotate("0deg");
}
